.ag-header-cell-label {
        font-size: 15px ;
}

.DateInput_input, .DateInput_input_1 {
  Height: 35px;
}

.menu_btn:hover {
  background-color: #76a3ff !important;
  border-color: #ffffff;
  color: black !important;
}

.active_menu_btn {
  background-color: #76a3ff !important;
  border-color: #ffffff;
  color: black !important;
}